.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.developerOfTheMonth {
    text-align: center;
}

.developerOfTheMonth img {
    width: 250px;
    border-radius: 100%;
}
